<form id="myform" class="form-inline">
    <label for="keyword" class="mr-2">キーワード：</label>
    <input type="text" id="keyword" name="keyword" class="form-control">
    <label for="released" class="contlor-check-label">刊行済み：</label>
    <input type="checkbox" name="released" id="released" value="true" class="form-check-input">
    <input type="button" value="検索" id="search" class="btn btn-info">
</form>
<hr>
<div id="result"></div>
<script>
    const btn = document.querySelector("#search");
    const result = document.querySelector("#result");

    btn.addEventListener("click", function() {
        fetch("/Result/AjaxSearch", {
            method: "POST",
            body: new FormData(document.querySelector("#myform"))
        })
            .then(res => res.text())
            .then(data => result.innerHTML = data);
    }, false);
</script>