<form asp-action="Cookie" method="POST">
    <label for="email">メールアドレス：</label>
    <input type="text" id="email" name="email" value="@ViewBag.Email" class="form-control">
    <input type="submit" value="送信" class="btn btn-primary">
</form>