<form asp-action="Custom">
    <input type="number" name="current.year" min="1900" max="2099">年
    <input type="number" name="current.month" min="1" max="12">月
    <input type="number" name="current.day" min="1" max="31">日
    <input type="submit" value="送信" class="btn btn-primary">
</form>